/TODO: remove if useless
/h1 style="text-align:center"
/  | What you gonna do today?
/.row
/  .col-xs-2
/    = link_to 'Travel', '#', class: 'btn btn-info', style: 'width: 100%; height: 200%;'
/  .col-xs-2
/    = link_to 'Co-Working', '#', class: 'btn btn-info', style: 'width: 100%; height: 200%;'
/  .col-xs-2
/    = link_to 'Party', '#', class: 'btn btn-info', style: 'width: 100%; height: 200%;'
/  .col-xs-2
/    = link_to 'WorkOut', '#', class: 'btn btn-info', style: 'width: 100%; height: 200%;'
/  .col-xs-2
/    = link_to 'Music session', '#', class: 'btn btn-info', style: 'width: 100%; height: 200%;'
/  .col-xs-2
/    = link_to 'Discussion', '#', class: 'btn btn-info', style: 'width: 100%; height: 200%;'
/
